  header {
    background-image: url("../img/assets/backgrounds/landing.jpg");
    height: 85vh;
  }

  img {
    float: center;
  }

  header p {
    color: white;
    font-size: 200%;
  }

  header {
    text-align: center;
  }

  table {
    float: right;
    width: 20%
  }

  article p {
    float: right;
    font-size: 100%
  }

  main {
    padding-left: 0;
    margin-left: 10%;
    padding-top: 1%;
    width: 100%;
    font-size: 15px;
  }

  .container {
    background-image: url("../img/assets/backgrounds/foodsBg.jpg");
    height: 300px;
    align-items: center;
  }

  #id happyhour {
    background-color: white;
  }
