  header {
    background-image: url("../img/assets/backgrounds/landing.jpg");
    height: 85vh
  }

  img {
    float: center;
  }

  header p {
    color: white;
    font-size: 200%;
  }

  header {
    text-align: center;
  }

  table {
    float: right;
    width: 20%
  }

  article p {
    float: right;
    font-size: 100%
  }

  footer {
    image: url("../img/assets/backgrounds/foodsBg.jpg");
  }

  .happyhour {
    height: 105px;
    width: 350px;
    background-color: #e0e0d1;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .partytime {
    height: 350px;
    width: 105px;
    background-color: #ff3300;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .icon-pos {
    margin-left: 42%
  }
